.title-container {
    background-color: #F2D1CE;
    border-bottom: 1mm solid white;
}

.user-login-container {
    padding: 50px;
}

#logo {
    font-family: "Fredoka One", cursive;
    font-size: 50px;
    color: #BF8F84
}

#collection {
    font-family: "Fredoka One", cursive;
    font-size: 40px;
    color: #718C35;
    padding: 50px;
    
}

.shelf {
    border-bottom: 10mm solid #E0C6AD;
    filter: drop-shadow(0px 5px 5px gray);
    border-radius: 2px;
}

.btn-book {
    width: 104px;
    height: 154px;
    font-size: 30px;
    margin: auto;
    background-color: white;
}

.btn-edit-book {
    width: 104px;
    height: 154px;
    padding: 0;
    margin: auto
}

.btn-edit-book img{
    left: 0
}